body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.brunoBtn{
	display: flex;
	justify-content: space-between;
}

.color{
	height: 50px;
	background-color:yellow;
}

.place{
	height: 50px;
	background-color:yellow;
}

.ritual{
	height: 50px;
	background-color:yellow;
}

.hoodStuff{
	display: flex;
	padding:10px;
	border:rgb(0, 183, 255) solid 5px;
}

.pic{
	border: rgb(0, 183, 255) solid 5px;
}

.belton{
	padding: 10px;
}

.links{
	padding: 10px;
	border: orange solid 5px;
	display: inline-block;
}

.colorLink{
	color:rgb(0, 183, 255) ;
}

#shuffleBtn{
	background-color:rgb(113, 198, 226);
	color: black;
	height: 40px;
	border-radius: 10px;
}

#shuffleBtn:hover{
	height: 39px;
	background-color: rgb(0, 191, 255);
	cursor: pointer;
}

#shuffleBtn:active{
	height:38px;
}